* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
}

nav{
    display: none;
}

header{
    background-image: url(./images/mobile/image-header.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 135vh;
    box-sizing: border-box;
    width: 100%;
    padding: 25px;
}

h1{
    font-size: 3rem;
    color: hsl(0, 100%, 100%);
    text-align: center;
    text-align: center;
    margin: 0 auto;
    font-family: 'Fraunces', sans-serif;
    font-weight: 900;
    margin-top: 150px;
}

.title-bar{
    display: flex;
    justify-content: space-between;
}

.arrow img{
    position: absolute;
    width: 10%;
    left: 180px;
    top: 410px;
}

.first-section{
    display: flex;
    flex-direction: column;
}

.egg img{
    width: 100%;
}
.egg img:last-child{
    display: none;
}

.cup img{
    width: 100%;
}
.cup img:last-child{
    display: none;
}

.brand, .stand{
    padding: 70px;
}

.brand > *, .stand > *, .apple > *, .tangerine > *{
    margin-top: 40px;
}

.brand h2, .stand h2{
    color: hsl(212, 27%, 19%);
}
.brand p, .stand p{
    color: hsl(213, 9%, 39%);
}

.brand h2, .stand h2, .apple h2, .tangerine h2{
    text-align: center;
    font-size: 2rem;
}

.brand h3{ 
    text-align: center;
    font-size: 1.1rem;
    color: hsl(212, 27%, 19%);
    box-shadow: 0 5px 0 0 hsl(7, 99%, 70%);
    background-color: none;

}
.stand h3{
    text-align: center;
    font-size: 1.1rem;
    color: hsl(212, 27%, 19%);
}

.brand p, .stand p, .apple p,.tangerine p{
    text-align: center;
}

.apple{
    background-image: url(./images/mobile/image-graphic-design.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 135vh;
    box-sizing: border-box;
    width: 100%;
    padding-top: 500px;
}
.apple h2, .apple p{
    color: hsl(167, 40%, 24%);
}

.tangerine{
    background-image: url(./images/mobile/image-photography.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 135vh;
    box-sizing: border-box;
    width: 100%;
    padding-top: 500px;
}
.tangerine h2, .tangerine p{
    color: hsl(198, 62%, 26%);
}

.client1img, .client2img, .client3img{
    margin: 40px 45%;
}

.client1img img, .client2img img, .client3img img{
    width: 50px;
    overflow: hidden;
    margin-top: 40px;
    border-radius: 50%;
}

.second-section h2{
    font-size: 2rem;
    color: hsl(232, 10%, 55%);
    margin-top: 40px;
    text-align: center;
}

.second-section h3{
    margin-top: 30px;
    text-align: center;
    color: hsl(213, 9%, 39%);
}

.second-section div{
    margin-top: 10px;
    text-align: center;
    color: hsl(210, 4%, 67%);
}

.second-section p{
    text-align: center;
    color: hsl(213, 9%, 39%);
}

.third-section{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.bottle img{
    width: 100%;
    height: 100%;
}
.bottle img:last-child{
    display: none;
}

.orange img{
    width: 100%;
    height: 100%;
}
.orange img:last-child{
    display: none;
}

.cone img{
    width: 100%;
    height: 100%;
}
.cone img:last-child{
    display: none;
}

.cube img{
    width: 100%;
    height: 100%;
}
.cube img:last-child{
    display: none;
}

.last-section{
    background-color: hsl(167, 34%, 41%);
    padding: 60px;
}
.foot-logo{   
    display: block;
    margin: 20px auto;
}

footer{
    display: flex;
    justify-content: space-evenly
}

.media{
    display: flex;
    justify-content: center;
    margin-top: 50px
}

.media > *{
    margin: 20px;
}